name: Jira Transition Action

on: 
  workflow_call:
      inputs:
        jira-numbers:
          description: 'Jira Numbers' 
          type: string
          required: true
        jira-transitions:
          description: 'Jira Transition' 
          type: string
          required: true
      secrets:
        jira-api-token:
          description: 'JIRA API Token'
          required: true
        jira-user-email:
          description: 'JIRA User Email'
          required: true
        jira-base-url:
          description: 'JIRA Base URL'
          required: true

jobs:
  jira-transition:
    if: always() && (inputs.jira-numbers != '[]')
    runs-on: ubuntu-latest
    continue-on-error: true
    name: JIRA Transition
    strategy:
      matrix:
        jira-number: ${{ fromJson(inputs.jira-numbers) }}
        transition: ${{ fromJson(inputs.jira-transitions) }}
    steps:

    - name: Login
      uses: atlassian/gajira-login@master
      env:
        JIRA_BASE_URL: ${{ secrets.jira-base-url }}
        JIRA_USER_EMAIL: ${{ secrets.jira-user-email }}
        JIRA_API_TOKEN: ${{ secrets.jira-api-token }}

    - name: Update Jira
      continue-on-error: true
      uses: atlassian/gajira-transition@master
      with:
          issue: ${{ matrix.jira-number }}
          transition: ${{ matrix.transition }}
          
  end:
    needs: jira-transition
    runs-on: ubuntu-latest
    steps:
      - name: end
        run: echo 'the end'
