name: Jira Transition Action

on: 
  workflow_call:
      inputs:
        jira-numbers:
          description: 'Jira Numbers' 
          type: string
          required: true
        jira-transition:
          description: 'Jira Transition' 
          type: string
          required: true
      secrets:
        jira-api-token:
          description: 'JIRA API Token'
          required: true
        jira-user-email:
          description: 'JIRA User Email'
          required: true
        jira-base-url:
          description: 'JIRA Base URL'
          required: true

jobs:
  jira-transition:
    runs-on: ubuntu-latest
    name: JIRA Transition
    strategy:
      matrix:
        value: ${{fromJson(inputs.jira-numbers)}}
    steps:
    - name: Login
      uses: atlassian/gajira-login@master
      env:
        JIRA_BASE_URL: ${{ secrets.jira-base-url }}
        JIRA_USER_EMAIL: ${{ secrets.jira-user-email }}
        JIRA_API_TOKEN: ${{ secrets.jira-api-token }}
    - name: Update Jira
      uses: atlassian/gajira-transition@master
      with:
          issue: ${{ matrix.value }}
          transition: ${{ inputs.jira-transition }}