name: Print on external push

# Controls when the action will run. Triggers the workflow on repository_dispatch and filters by type of event (i.e. `event_type`)
on: 
  workflow_call:
      inputs:
        appPlatform:
          description: 'App Platform' 
          type: string
          required: true
        username:
          description: 'User Name' 
          type: string
          required: true
        branch:
          description: 'Branch' 
          type: string
          required: true
        statusMessage:
          description: 'Status Message' 
          type: string
          required: true
        githubRunId:
          description: 'Github Run Id'
          type: string
          required: true
      secrets:
        webhookUrl:
          description: 'webhook Url'
          required: true

jobs:
  notify-start:
    runs-on: ubuntu-latest
    steps: 
      - name: Get current time
        uses: josStorer/get-current-time@v2
        id: current-time
        with:
          format: "YYYY-MM-DD_HH-mm"
          utcOffset: "+08:00"
          
      - name: print webhook url
        run: |
          echo "${{ secrets.webhookUrl }}"
          echo "${{ inputs.githubRunId }}"
          echo "${{ inputs }}"
          
      - name: Send a message to Microsoft Teams [START]
        uses: aliencube/microsoft-teams-actions@v0.8.0
        with:
          webhook_uri: ${{ secrets.webhookUrl }}
          title: "TamJai DevOps"
          summary: "Build Action triggered At ${{ steps.current-time.outputs.formattedTime }}"
          text: "Build Action triggered At ${{ steps.current-time.outputs.formattedTime }}"
          theme_color: "0078D7"
          sections: '[{ "facts": [{ "name": "App Platform:", "value": "${{ inputs.appPlatform }}" },{ "name": "GitLab Commit User:", "value": "${{ inputs.username }}" },{ "name": "GitLab Branch:", "value": "${{ inputs.branch }}" },{ "name": "Status:", "value": "${{ inputs.statusMessage }}" }] }]'
          actions: '[{ "@type": "OpenUri", "name": "Mtel DevOps", "targets": [{ "os": "default", "uri": "https://github.com/mtelnet-com/tamjai-devops-action/actions/runs/${{ inputs.githubRunId }}" }]}]'
          
          
          
          
