name: Print on external push

# Controls when the action will run. Triggers the workflow on repository_dispatch and filters by type of event (i.e. `event_type`)
on: 
  workflow_call:
      inputs:
        message:
          description: 'Log level' 
          type: string
          required: true
          default: 'warning'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Print custom message
        run: echo ${{ github.event.inputs.message }}
